@import './mixin.scss';
@import './variables.scss';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Hành động cuộn */
    font-size: 62.5%;
/*     line-height: 1.6rem;
    font-family: 'Roboto', sans-serif; */
    font-family: Helvetica Neue, Helvetica, Arial, 文泉驛正黑, WenQuanYi Zen Hei, Hiragino Sans GB, 儷黑 Pro, LiHei Pro, Heiti TC, 微軟正黑體, Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
    line-height: 1.2rem;
}

body {
    overflow-x: hidden;
    transition: opacity 0.5s ease-in-out; /* Thay đổi opacity của trang khi chuyển trang */
}

img {
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none!important;
}

ul {
    list-style-type: none;
    margin: 0!important;
    padding: 0!important;
}

h1, h2, h3, h4, h5, h6 {
    color: #1e1e1e;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

p {
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
    letter-spacing: 0.7px;
}

input {
    line-height: normal;
}

input, select, textarea, optgroup, button {
    color: inherit;
    font: inherit;
    margin: 0;
}

.container {
    max-width: 120rem!important;
}

.text-section {
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    text-transform: capitalize;
    display: block;
    text-align: center;
    overflow-wrap: break-word;
    
}

.text-font-size-1 {
    font-size: 1.2rem;
}
.text-font-size-2 {
    font-size: 1.4rem;
}

.text-font-size-3 {
    font-size: 1.6rem;
}

.text-font-size-4 {
    font-size: 1.8rem;
}

.text-font-size-5 {
    font-size: 2.4rem;
}

.text-bold {
    font-weight: 700!important;
}

/* begin border */
.border-right {
    border-right: 1px solid rgba(0, 0, 0, .2);
    padding: 0 .5rem;
}
.border-right:last-child {
    border: none !important;
}
/* end border */

/* Begin header */
#header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%!important;
    display: block;
    background-color: #ee4d2d;
    z-index: 100;
    transition: all .5s ease 0s;
    .container {
        .row {
            .navbar_header {
                justify-content: space-between;
                height: 3.4rem;
                position: relative;
                z-index: 400;
                
                .navbar_left {
                    @include align-items_center;
                    .text_header:nth-child(2) {
                        .header_qr {
                            @include context-menu;
                            /* display: block; */
                            display: none;
                            background-color: $white-color;
                            width: 17.8rem;
                            position: absolute;
                            left: 0;
                            top: 100%;
                            padding: 8px;
                            border-radius: 2px;
                            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                            animation: fadeIn ease-in 0.3s;
                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: -16px;
                                width: 100%;
                                height: 20px;
                                display: block;
                            }

                            &::after {
                                content: "";
                                display: block;
                                position: absolute;
                                border-left: 1px solid $white-color;
                                height: 16px;
                                right: -9px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                            .header_qr-img {
                                width: 100%;
                            }
                            .header_qr-app {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                .qr_app-link {
                                    @include align-items_center;
                                    .app-download-img {
                                        width: 6.8rem;
                                        height: 1.7rem;

                                    }
                                }
                            }
                        }
                    }

                    .text_header:nth-child(3) {
                        color: $white-color;
                        cursor: text;
                    }
                }

                .navbar_right {
                    @include align-items_center;
                }
                
                .line_left{
                    position: relative;
                    &::after {
                    border-left: 1px solid hsla(0, 0%, 100%, .22);
                    border-right: 1px solid hsla(0, 0%, 100%, .22);
                    content: "";
                    height: 1.4rem;
                    left: -0.3rem;
                    position: absolute;
                    top: calc(50% - 0.7rem);
                    width: 0;
                    }
                }


                .text_header {
                    color: $white-color;
                    font-size: 1.4rem;
                    font-weight: 400;
                    padding: 0.4rem;
                    &:hover {
                        cursor: pointer;
                        color: rgba(255, 255, 255, 0.7);
                    }
                }
                
                .icon {
                    display: inline-block;
                    font-size: 1.5rem;
                    font-weight: 400;
                    text-align: left;
                }
                
            }
        
            .header_container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .logo  {
                    padding-right: 40px;
                    img {
                        width: 16.2rem!important;
                       
                    }
                }

                .search_container{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    position: relative;
                    width: 840px;
                    .search_btn-container {
                        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .09);
                        
                        .search_label-main {
                            position: relative;
                            align-items: stretch;
                            background: #fff;
                            border-radius: .2rem;
                            box-sizing: border-box;
                            display: flex;
                            height: 4.2rem;
                            justify-content: space-between;
                            padding: .3rem;
                            .search-label {
                                font-size: 1.7rem;
                                align-items: center;
                                border: 0;
                                display: flex;
                                flex: 1;
                                margin: 0;
                                outline: none;
                                padding: 0;
                            }
                        }
                        .search-btn {
                            @include btn--s;
                            position: absolute;
                            background: #fb5533;
                            outline: 0;
                            overflow: visible;
                            top: 0.25rem;
                            right: 0.3rem;
                            @include pointer-hover;
                            .icon {
                                @include icon;
                                margin: 0 auto;
                            }
                        }
                    }

                    .search_list {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        height: 2rem;
                        line-height: 1.5rem;
                        overflow-y: clip;
                        .search-item {
                            position: relative;
                            flex-wrap: wrap;
                            font-size: 1.2rem;
                            font-weight: 300;
                            height: 1.5rem;
                            line-height: 1.5rem;
                            margin: .5rem 0;
                            overflow-y: visible;
                            overflow-y: clip;
                            .search-item-link {
                                margin: .3125rem;
                                display: block;
                                height: .875rem;
                                line-height: .875rem;
                                outline: 0;
                                overflow: visible;
                                -webkit-text-decoration: none;
                                text-decoration: none;
                                white-space: nowrap;
                                margin-left: 1.1rem;
                                span {
                                    color: $white-color;
                                    font-weight: 400;
                                }
                            }
                            
                        }
                    }
                }

                .cart {
                    display: flex;
                    justify-content: center;
                    flex: 1;
                    .cart_link {
                        .icon {
                            font-size: 2.6rem;
                            color: $white-color;
                            font-weight: 400;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}


/* Begin shopee header */
.shopee-header_section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    height: 6rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding: 0 2rem;
}

.section-text-product,
.shopee-header_section--title {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, .54);
    font-weight: 400;
    line-height: 2.7625rem;
    text-transform: uppercase;
}

.shopee-header_section--link {
    color: rgba(0, 0, 0, .87);
    display: block;
    font-weight: 400;
    font-size: 1.7rem;
    white-space: nowrap;
    text-transform:capitalize;
}

.section-header_see {
    color: #ee4d2d !important;
    font-size: 1.5rem;
    font-weight: 400;
}
/* End shopee header */



/* Begin carousel banner */
.banner_left--section {
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    border-radius: .25rem;
    overflow: hidden;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
    .stardust-carouse_list-wrapper {
        box-sizing: border-box;
        overflow-x: hidden;
        .stardust-carouse__item-list {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            display: flex;
            overflow: hidden;
            touch-action: pan-y;
            .stardust-carousel__item {
                @extend .stardust-carouse__item-list;
                .wrapper {
                    width: 100%;
                    height: 100%;
                    .banner_item-link {
                        height: 100%;
                        display: block;
                        img{
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .click_stardust-carouse {
        position: absolute;
        width: 100%;
        transition: opacity .3s ease;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
        .stardust-carouse_prev {
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.7;
            width: 3rem;
            height: 6rem;
            background-color: rgba(0, 0, 0, .18);
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .09);
            border-radius: initial;
            transition: opacity .3s ease;
            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, .32);
            }

        }
        .stardust-carouse_next{
            @extend .stardust-carouse_prev;
        }
        i {
            font-size: 20px;
            color: #fff;
            &::before {
                font-weight: 1000 !important;
            }
        }
    }

    .stardust-carouse_dots {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%);
        transition: opacity .5s ease;
        width: 100%;
        text-align: center;
        .stardust-carouse_dot {
            width: 1rem;
            height: 1rem;
            margin-left: .8rem;
            border-radius: 50%;
            display: inline-block;
            cursor: pointer;
            opacity: 1;
            border: 1px solid hsla(0, 0%, 53.7%, .4);
            background-color: hsla(0, 0%, 100%, .4);
        }

        .stardust-carousel_dot--active {
            opacity: 1;
            background-color: #ee4d2d;
            border-color: #ee4d2d;
        }
    }

}
/* End carousel banner */


/* Begin carousel */
.section--category-content {
    width: 100%;
    height: 100%;
    position: relative;
    .category_item-list-wrapper {
        height: 100%;
        .img-category_item-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;     
            .img-category_item-container {
                padding: 0.5rem;
                box-sizing: border-box;
                .img-item-link {
                        background-color: #fff;
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        
                        .img-item-contents {
                            position: relative;
                            .img-item-sale-container{
                                position: absolute;
                                top: 0;
                                right: 0;
                                z-index: 3;
                                border-radius: .125rem 0 0 0;
                                .img-item-sale {
                                    background-color: #ffe97a;
                                    border-radius: .125rem .125rem .125rem 0;
                                    color: #ec3814;
                                    font-weight: 400;
                                    position: relative;
                                    padding-top: .2rem;
                                    i {
                                        position: absolute;
                                        left: -6px;
                                        font-size: 1.6rem;
                                        top: -4px;
                                    }
                                    span {
                                        font-size: 1.4rem;
                                        height: 1rem;
                                        line-height: 1.2rem;
                                        padding: .3rem;
                                    }
    
                                }
                            }
                            .img-item-mall-container {
                                position: absolute;
                                top: 0;
                                left: -3px;
                                z-index: 3;
                                img {
                                    width: 30%;
                                    height: 12%;
                                }
                            }
    
                            .img-item-main {
                                height: 100%;
                                width: 100%;
                            }
                            .img-item-xtra {
                                position: absolute;
                                top: 0;
                                right: 0;
                                z-index: 2;
                            }
                            .img-item-card {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                z-index: 2;
                                background-color: rgba(0, 0, 0, .32);
                                border-radius: .3rem;
                                padding: 0 .4rem;
                                span {
                                    color: #fff;
                                    font-size: 1.2rem;
                                    font-weight: 400;
                                    text-transform: capitalize;
                                }
                            }
                        }
                        .product-info {
                            display: flex;
                            flex-direction: column;
                            background-color: #fff;
                            .product-name {
                                color: #000;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 2;
                                font-size: 1.4rem;
                                line-height: 2rem;
                                overflow-wrap: break-word;
                            }
    
                            .product-promotion {
                                span {
                                    display: inline-block;
                                    color: #ee4d2d;
                                    border: 1px solid #ee4d2d;
                                    font-size: 1rem;
                                    padding: 0 0.2rem ;
                                }
                            }
                            
                            .product-price {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: flex-start;
                                .price {
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-content: center;
                                    align-items: center;
                                    color: #ee4d2d;
                                    height: 1.6875rem;
                                    font-size: 1.6rem;
                                    font-weight: 400;
                                    .price-unit {
                                        font-size: 1rem!important;
                                        margin: 0 0.2rem 0.2rem 0;
                                    }
    
                                }
                                .sold {
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-items: center;
                                    font-size: 1.2rem;
                                    color: rgba(0, 0, 0, .54118);;
                                }
    
                            }
                        }
    
                }
            }
        }
    }
    .product-container__hover {
        border: .12px solid rgba(0, 0, 0, .25);
        transition: transform 0.3s, border 0.3s;
        &:hover {
            transform: scale(1.01);
            border: .2px solid #ec3814;
        }
    }
    .carousel-arrow {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .12);
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        margin-top: -12.5px;
        transform: translateX(calc(50% + 0px));
        i {
            z-index: 1;
            font-weight: bold;
            font-size: 1.2rem;
            color: rgba(0, 0, 0, .54);
            fill: currentColor;
        }
    }
    
    .carousel-arrow--prev {
        left: -2.5rem;
        opacity: 0;
    }
    
    .carousel-arrow--next {
        right: 0;
        opacity: 1;
        
    }
}
/* End carousel */


/* Begin footer */
    #footer {
        border-top: 4px solid #ee4d2d;
        background-color: $white-color;
        .footer-container {
            
            .footer-shopee__section {
                .footer-shopee__section--contents {
                    display: flex;
                    margin: 0 -.3125rem;
                    min-width: 1200px;
                    padding: .5rem;
                    width: 100%;
                    align-items: flex-start;
                    .footer-list {
                        box-sizing: border-box;
                        padding: .5rem;
                        width: 25rem;
                        h5 {
                            color: rgba(0, 0, 0, .87);
                            font-size: 1.25rem;
                            font-weight: 700;
                            margin-bottom: 2rem;
                            margin-top: 4rem;
                            text-transform: uppercase;
                            letter-spacing: .8px;
                        }

                        .text-footer-container {
                            display: block;
                            margin: 0 0 1.6rem;
                            padding: 0;
                            .text-footer{
                                display: block;
                                font-size: 1.25rem;
                                text-transform: capitalize;
                                margin-bottom: .75rem;
                                .link-footer{
                                    color: rgba(0, 0, 0, .65);
                                    overflow: hidden;
                                    -webkit-text-decoration: none;
                                    text-decoration: none;
                                    span{
                                        max-width: 100%;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        &:hover{
                                            color: #ee4d2d;
                                        }
                                    }
                                    i {
                                        font-size: 1.6rem;
                                        margin-right: .8rem;
                                    }
                                }
                            }
                        }
                        
                        .img-footer-container {
                            @include align-items-center;
                            margin: 0 0 1.6rem;
                            padding: 0;
                            .img-footer {
                                background-color: $white-color;
                                border-radius: .2rem;
                                box-shadow: 0 .1rem .1rem rgba(0, 0, 0, .2);
                                box-sizing: border-box;
                                margin-bottom: .8rem;
                                margin-right: .8rem;
                                overflow: hidden;
                                padding: .4rem;
                                width: 6rem;
                                height: 3rem;
                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                    object-fit: cover;
                                    text-align: center;
                                }
                            }
                        }

                        .img-download-footer-container {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            .img-download-footer:first-child {
                                img {
                                    background-color: $white-color;
                                    border-radius: .2rem;
                                    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
                                    height: 10rem;
                                    margin-right: 1.4rem;
                                    padding: .4rem;
                                    width: 10rem;
                                }
                            }
                            .img-download-footer:nth-child(2) {
                                display: inline-block;
                                vertical-align: top;
                                width: 8rem;
                                .link-download-footer{
                                    @include align-items-center;
                                    background-color: #fff;
                                    border-radius: .4rem;
                                    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
                                    margin-bottom: 1rem;
                                    padding: .6rem;
                                    
                                }
                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                            }
                        }
                    }
                }

                .footer-shopee__section--country {
                    border-top: 1px solid rgba(0, 0, 0, .1);
                    justify-content: space-between;
                    padding: 4rem 0;
                    @include align-items_flex-start;
                    .text-footer-left {
                        
                        flex-shrink: 0;
                        margin-right: 25px;
                    
                    }

                    .text-footer-right {
                        @include align-items-center;
                        justify-content: center;
                    }
                }

                .footer-shopee__section--company {
                    font-size: .75rem;
                    padding: 2.625rem 0 2.3125rem;
                    .text-footer-policy {
                        @include align-items-center;
                        justify-content: center;
                        margin-bottom: 4rem;
                        a {
                            padding: 0 2.5rem;
                        }
                    }

                    .footer-certification {
                        @include align-items-center;
                        justify-content: center;
                        .certification-wrapper {
                            margin: 0 1.25rem;
                            -webkit-text-decoration: none;
                            text-decoration: none;
                            .certification-item {
                                height: 4.5rem;
                                width: 12rem;
                                background-image: url('../img/logo/Van-chuyen/all.png');
                                background-position: 14.391143911439114% 99.41176470588235%;
                                background-size: 551.6666666666666% 477.77777777777777%;
                            }
                            .certification-item-sign {
                                height: 4.8rem;
                                width: 4.8rem;
                                background-image: url('../img/logo/Van-chuyen/all.png');
                                background-position: 1.6286644951140066% 92.21556886227545%;
                                background-size: 1379.1666666666667% 447.9166666666667%;
                            }
                        }
                    }
                }
            }
        }
        .text-section {
            color: rgba(0, 0, 0, .54);
        }
    }
/* End footer */
